  <div>
  <input type="checkbox" class="compare-product-add" id="compareProduct" name="compareProduct" value="">
  <label for="compareProduct">Add to Compair</label>
</div>

<style>
  input#compareProduct {
    width: 23px;
        height: 23px;
    margin-top: 15px;
}
</style>