<div>
  <i class="addtoWishlist fa fa-heart" style="font-size:25px"></i>
</div>
<style>
        .wishlist-added {
        color: red;

    }
    .addtoWishlist
    {
       cursor: pointer;
  }
</style>
